In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df= pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

# 1.How many rows and columns are in the dataset?

In [4]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 301
Number of columns: 9

2.What are the data types of each column?

In [5]:
print(df.dtypes)

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

3.Are there any missing values in the dataset?

In [6]:
print(df.isnull().sum())

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

4.Are there any duplicate records?

In [9]:
duplicates = df[df.duplicated()]
print(f"Number of duplicate records: {duplicates}")

Number of duplicate records:     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
17    ertiga  2016           7.75          10.79       43000    Diesel
93  fortuner  2015          23.00          30.61       40000    Diesel

   Seller_Type Transmission  Owner
17      Dealer       Manual      0
93      Dealer    Automatic      0

5.What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns?

In [8]:
print("Unique Fuel_Type values:", df["Fuel_Type"].unique())
print("Unique Seller_Type values:", df["Seller_Type"].unique())
print("Unique Transmission values:", df["Transmission"].unique())

Unique Fuel_Type values: ['Petrol' 'Diesel' 'CNG']
Unique Seller_Type values: ['Dealer' 'Individual']
Unique Transmission values: ['Manual' 'Automatic']

6.What is the average, maximum, and minimum Selling_Price?

In [11]:
avg_price = df["Selling_Price"].mean()
max_price = df["Selling_Price"].max()
min_price = df["Selling_Price"].min()


print(f"Average Selling Price: {avg_price:.2f}")
print(f"Maximum Selling Price: {max_price}")
print(f"Minimum Selling Price: {min_price}")

Average Selling Price: 4.66
Maximum Selling Price: 35.0
Minimum Selling Price: 0.1

In [ ]:
7.What is the average Selling_Price by Fuel_Type?

In [12]:
avg_fuel = df.groupby("Fuel_Type")["Selling_Price"].mean()
print(avg_fuel)

Fuel_Type
CNG        3.100000
Diesel    10.278500
Petrol     3.264184
Name: Selling_Price, dtype: float64

In [ ]:
8.What is the average Selling_Price by Transmission type?

In [11]:
average_selling_price_by_transmission = (df.groupby('Transmission')['Selling_Price'].mean())                                                                           
print("Average Selling Price by Transmission Type:")
print(average_selling_price_by_transmission)

Average Selling Price by Transmission Type:
Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

In [ ]:
9.Which car model appears most frequently?

In [13]:
car_counts = df['Car_Name'].value_counts()
most_frequent_car_model = car_counts.index[0]
print(f"Most Frequent Car Model: {most_frequent_car_model}")

Most Frequent Car Model: city

In [22]:
10.What is the average Selling_Price for each car model?

Object `model` not found.

In [16]:
df.groupby('Car_Name')['Selling_Price'].mean()

Car_Name
800                  0.350000
Activa 3g            0.310000
Activa 4g            0.400000
Bajaj  ct 100        0.180000
Bajaj Avenger 150    0.750000
                       ...
sx4                  3.158333
verna                6.107857
vitara brezza        9.250000
wagon r              2.512500
xcent                4.966667
Name: Selling_Price, Length: 98, dtype: float64

In [ ]:
11.What is the range of years in the dataset (min and max Year)?

In [19]:
min_year = df['Year'].min()
max_year = df['Year'].max()

print(f"Minimum Year: {min_year}")
print(f"Maximum Year: {max_year}")

Minimum Year: 2003
Maximum Year: 2018

In [17]:
12.What is the average Selling_Price grouped by Year?

Object `Year` not found.

In [20]:
print(df.groupby('Year')['Selling_Price'].mean())

Year
2003    1.300000
2004    1.500000
2005    2.487500
2006    1.437500
2007    0.160000
2008    1.002857
2009    2.816667
2010    5.262667
2011    2.375263
2012    3.841304
2013    3.540909
2014    4.762105
2015    5.927049
2016    5.213200
2017    6.209143
2018    9.250000
Name: Selling_Price, dtype: float64

In [26]:
13.What is the most common number of owners (from the Owner column)?

In [25]:
most_common_owner = df['Owner'].mode().iloc[0]
frequency = df['Owner'].value_counts().iloc[0]

print(f"Most Common Number of Owners: {most_common_owner}")
print(f"Frequency: {frequency}")

Most Common Number of Owners: 0
Frequency: 290

In [ ]:
14.What is the average number of kilometers driven (Kms_Driven)?

In [29]:
print("\n Average Kms Driven:", df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

In [22]:
print(df['Kms_Driven'].mean().round(2))

36947.21

In [ ]:
15.Which car has the highest Present_Price?

In [23]:
car_name = df.loc[df['Present_Price'].idxmax(), 'Car_Name']
price = df['Present_Price'].max()

print(f"Car with the highest Present_Price: {car_name}")
print(f"Highest Present Price (Rs. in Lakhs): {price}")

Car with the highest Present_Price: land cruiser
Highest Present Price (Rs. in Lakhs): 92.6

In [ ]:
16.What is the correlation between Selling_Price, Present_Price, and Kms_Driven?

In [24]:
print(df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr())

               Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

In [ ]:
17.Which Seller_Type has the highest average Selling_Price?

In [25]:
highest_avg_seller = df.groupby('Seller_Type')['Selling_Price'].mean().idxmax()
highest_price = df.groupby('Seller_Type')['Selling_Price'].mean().max()

print(f"Seller Type with highest average Selling Price: {highest_avg_seller}")
print(f"Highest Average Selling Price (Rs. in Lakhs): {highest_price:.2f}")

Seller Type with highest average Selling Price: Dealer
Highest Average Selling Price (Rs. in Lakhs): 6.72

In [ ]:
18.How many cars are there of each Fuel_Type?

In [26]:
print(df['Fuel_Type'].value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [ ]:
19.How many cars have more than one previous owner?

In [27]:
count = len(df[df['Owner'] > 1])
print(f"Number of cars with more than one previous owner: {count}")

Number of cars with more than one previous owner: 1

In [ ]:
20.What are the top 5 most expensive cars in the dataset?

In [28]:
top_5 = df.sort_values(by='Selling_Price', ascending=False).head(5)
print(top_5[['Car_Name', 'Selling_Price', 'Present_Price', 'Year']])

        Car_Name  Selling_Price  Present_Price  Year
86  land cruiser           35.0          92.60  2010
64      fortuner           33.0          36.23  2017
63      fortuner           23.5          35.96  2015
51      fortuner           23.0          30.61  2015
93      fortuner           23.0          30.61  2015

In [ ]:
21.What is the average difference between Present_Price and Selling_Price?

In [29]:
average_difference = (df['Present_Price'] - df['Selling_Price']).mean().round(2)

print(f"Average Difference (Rs. in Lakhs): {average_difference}")

Average Difference (Rs. in Lakhs): 2.97

In [ ]:
22.How many cars are being sold by individual sellers vs dealers?

In [30]:
print(df['Seller_Type'].value_counts())

Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [ ]:
23.How many cars were manufactured before 2010?

In [31]:
print(len(df[df['Year'] < 2010]))

26

In [ ]:
24.Which year has the highest number of car listings?

In [32]:
most_listings_year = df['Year'].mode().iloc[0]

print(f"Year with the highest number of car listings: {most_listings_year}")

Year with the highest number of car listings: 2015

In [ ]:
25.What percentage of cars are using diesel vs petrol vs CNG?

In [33]:
print((df['Fuel_Type'].value_counts(normalize=True) * 100).round(2))

Fuel_Type
Petrol    79.40
Diesel    19.93
CNG        0.66
Name: proportion, dtype: float64

In [ ]:
26.What is the highest and lowest Kms_Driven for each fuel type?

In [34]:
print(df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max']))

             min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

In [ ]:
27.How many cars were sold with exactly 0 previous owners?

In [35]:
print((df['Owner'] == 0).sum())

290

In [ ]:
28.How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?

In [36]:
count = len(df[['Fuel_Type', 'Seller_Type', 'Transmission']].drop_duplicates())

print(f"Number of unique combinations: {count}")

Number of unique combinations: 8

In [ ]:
29.What is the average Selling_Price of cars that have more than 2 previous owners?

In [32]:
average_price = df[df['Owner'] > 2]['Selling_Price'].mean()

print(f"Average Selling Price (Rs. in Lakhs): {average_price:.2f}")

Average Selling Price (Rs. in Lakhs): 2.50

In [ ]:
30.Are there any cars where Selling_Price is greater than Present_Price?

In [31]:
count = len(df[df['Selling_Price'] > df['Present_Price']])

if count > 0:
    print(f"Yes, {count} cars found.")
else:
    print("No cars found.")

No cars found.